@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:wght@400;700&display=swap');

html { font-size: 16px;}
body { font-family: 'Lato', sans-serif;}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

a { 
    color: rgb(118, 98, 165);
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

/* h2 a { font-size: 0.9rem;}

a:hover, a:focus { text-decoration: underline;}


table td{
    border-collapse: separate; 
    border-spacing: 40px;
    margin: 0 0 0 0;
}
table th{
    background-color: rgb(118, 98, 165);
} */